<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

    <!-- propertyConfigurer -->
    <beans:bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <beans:property name="locations">
            <beans:list>
                <beans:value>/WEB-INF/configs/configure.properties</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

    <!-- Multi language config -->
    <beans:bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <beans:property name="basename" value="classpath:message" />
        <beans:property name="defaultEncoding" value="UTF-8" /> 
    </beans:bean>
    
    <interceptors>
	    <beans:bean id="localeChangeInterceptor"
	        class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	        <beans:property name="paramName" value="locale" />
	    </beans:bean>
    </interceptors>
    
    <beans:bean id="localeResolver"
        class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <beans:property name="defaultLocale" value="vn" />
    </beans:bean>
    
    <!-- Theme Change Interceptor and Resolver definition -->
    <beans:bean id="themeSource"
        class="org.springframework.ui.context.support.ResourceBundleThemeSource">
        <beans:property name="basenamePrefix" value="theme-" />
    </beans:bean>
    <beans:bean id="themeChangeInterceptor"
        class="org.springframework.web.servlet.theme.ThemeChangeInterceptor">
        <beans:property name="paramName" value="theme" />
    </beans:bean>
    <beans:bean id="themeResolver"
        class="org.springframework.web.servlet.theme.CookieThemeResolver">
        <beans:property name="defaultThemeName" value="default" />
    </beans:bean>

    <!-- handlerMapping -->
    <beans:bean id="handlerMapping"
        class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <beans:property name="interceptors">
            <beans:list>
                <beans:ref bean="themeChangeInterceptor" />
            </beans:list>
        </beans:property>
    </beans:bean>
</beans:beans>